# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Virtual Environment
venv/
.venv/
env/

# MLflow
mlruns/
mlartifacts/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Models
*.pkl
*.h5
*.model